 @import './reset';
 @import '../assets/font/font';
 @import './mixin';

 $color: #FFFFFF;
 $colorText: #5A5A7F;

 // TODO! БЛОК HEADER
.header {
    min-height: 65px;
    background: #000025;
    color: $color;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .logo {
        text-transform: uppercase;
        @include font-styles(700, 2.5rem);
        &.logo_color-yellow {
            color: #EDFF7E;
        }
    }
    .navigate__items {
        display: flex;
        column-gap: 39px;
        list-style-type: none;
        .navigate__item {
            text-transform: uppercase;
        }
        .item__link_modificate {
            text-decoration: none;
            color: $color;
            @include font-styles(700, 1.2rem);
        }
        .item__link_color {
            color: #EDFF7E;
            &:hover {
                color: $color;
            }
        }
    }
    .navigate__item:not(:nth-child(4)) .item__link_modificate::after {
        content: '\00b7'; 
        display: inline-block;
        margin-left: 45px; 
        color: $color;  
    }
}
// TODO! БЛОК MAIN > ARTICLE-CARUSEL PICTURES
.carouselPictures {
    min-height: 80vh;
    background: #7067CF;
}
// TODO! БЛОК MAIN > ARTICLE-OURSERVISE
.article-ourServices {
    min-height: 64vh;
}
.grid-container-services {
    display: grid;
    @include grid-layout(3, 300px, 2, 98px);
    gap: 20px;
    justify-content: center;
}
// TODO! БЛОК MAIN > ARTICLE-PORTFOLIO
.article-portfolio {
    display: grid;
    gap: 20px;
    background-color: #EDFF7E;
    .text {
        .flex-container {
            display: flex;
            column-gap: 16px;
            .button_width-medium {
                width: 81px;
            }
            .button_width-large {
                width: 97px;
            }
            .button_width-small {
                width: 60px;
            }
        }
    }
}
.grid-container {
   display: grid;
   @include grid-layout(4, 220px, 3, 187px);
   gap: 20px;
   justify-content: center;
   margin-bottom: 40px;
   .grid__image {
       width: 100%;
       height: 100%;
       object-fit: cover;
   }
}
// TODO!--БЛОК FOOTER
.footer {
 display: flex;
 justify-content: space-around;
 align-items: center;
 min-height: 65px;
 background-color: #EDFF7E;
 border-top: 2px solid #D4CBFF;
 .contact {
     display: flex;
     gap: 10px;
 }
 .text__footer {
     @include font-styles(900, 1.3rem);
     line-height: 1.8rem;
     color: $colorText;
 }
}

             


              
    
          
    
                
  
                
    

      

    










            

       



// TODO! блок ТЕКСТ
.text {
    display: grid;
    grid-template-columns: 941px;
    justify-content: center;
    align-items: center;
    text-align: justify;
    .text_heading {
        @include font-styles(900, 3rem);
        color: #000025;
        line-height: 3.6rem;
    }
    .text_paragraph {
        @include font-styles(400, 1.8rem);
        color: $colorText;
        line-height: 3rem;
    }
}






















//TODO!--Блок Button
.button {
    width: 81px;
    height: 28px;
    padding: 8px;
    border: 1px solid #7067CF;
    border-radius: 4px;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.2rem;
    background-color: #EDFF7E;
    color: #5A5A7F;
    cursor: pointer;
}
.button_color {
    color: white;
    background-color: #7067CF;
    width: 30px;
    &:hover {
        background-color: #8f89ce;
    }
    &:active {
        background-color: #aeabd2;
    }
}
// TODO!--Блок card
.card {
    width: 300px;
    height: 98px;
    position: relative;
    .card__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 20px;
        left: 0;
    }
    .card__text {
        @include font-styles(900, 1.8rem);
        line-height: 1.8rem;
        color: $colorText;
        padding-left: 77px;
    }
    .card__text-small {
        @include font-styles(400, 1.2rem);
        line-height: 2.2rem;
        color: $colorText;
        padding-left: 77px;
        text-align: justify;
    }
}

    



@media (max-width: 830px) {
    .grid-container {
        @include grid-layout(3, 220px, 4, 187px);
        gap: 12px;
      }
      .grid-container-services {
          @include grid-layout(2, 300px, 3, 124px);
      }
      .carouselPictures {
        min-height: 56vh;
      }
      .text {
        grid-template-columns: 681px;
      }
    }

    @media (max-width: 450px) {
      .navigate {
          display: none;
      }
        .grid-container {
            @include grid-layout(2, 161px, 6, 161px);
            gap: 13px;
        }
        .grid-container-services {
          @include grid-layout(1, 300px, 6, 124px);
      }
      .carouselPictures {
          min-height: 36vh;
        }
        .text {
          grid-template-columns: 333px;
        }
      }

        
    































  
  


      






















         
       
   
        
    


 

      

    
  
        
   
    
    