 @import './reset';
 @import '../assets/font/font';
 @import './mixin';

 $color: #FFFFFF;
 $colorText: #5A5A7F;
 $colorBackgraund: #EDFF7E;

 // TODO! БЛОК HEADER
 // TODO МЕНЮ БУРГЕР
/*СКРЫВАЕМ БУРГЕР МЕНЮ*/
.hamburger-menu {
    display: none;
}



.header {
    min-height: 65px;
    width: 100vw;
    background: #000025;
    color: $color;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    z-index: 1;
    .logo {
        text-transform: uppercase;
        @include font-styles(700, 2.5rem);
        &.logo_color-yellow {
            color: $colorBackgraund;
        }
    }
    .navigate__items {
        display: flex;
        column-gap: 35px;
        list-style-type: none;
        .navigate__item {
            text-transform: uppercase;
        }
        .item__link_modificate {
            text-decoration: none;
            color: $color;
            @include font-styles(700, 1.2rem);
        }
        .item__link_color {
            color: $colorBackgraund;
            &:hover {
                color: $color;
            }
        }
    }
    .navigate__item:not(:nth-child(4)) .item__link_modificate::after {
        content: '\00b7'; 
        display: inline-block;
        margin-left: 45px; 
        color: $color;  
    }
}



















// TODO! БЛОК MAIN > ARTICLE-CARUSEL PICTURES
.carouselPictures {
    min-height: 100vh;
    background: #7067CF;
    display: flex;
    justify-content: center;
    align-items:center;
   
    .carouselPictures__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
       
    }
}
































// TODO! БЛОК MAIN > ARTICLE-OURSERVISE
.article-ourServices {
    min-height: 65vh;
}
.grid-container-services {
    display: grid;
    @include grid-layout(3, 300px, 2, 98px);
    gap: 20px;
    justify-content: center;
}
// TODO! БЛОК MAIN > ARTICLE-PORTFOLIO
.article-portfolio {
    display: grid;
    gap: 20px;
    background-color: $colorBackgraund;
    .text {
        .flex-container {
            display: flex;
            column-gap: 16px;
            .button_width-medium {
                width: 85px;
            }
            .button_width-large {
                width: 97px;
            }
            .button_width-small {
                width: 60px;
            }
        }
    }
}
.grid-container {
   display: grid;
   @include grid-layout(4, 220px, 3, 187px);
   gap: 20px;
   justify-content: center;
   margin-bottom: 40px;
   .grid__image {
       width: 100%;
       height: 100%;
       object-fit: cover;
   }
}
// TODO!--БЛОК FOOTER
.footer {
 display: flex;
 justify-content: space-around;
 align-items: center;
 min-height: 65px;
 background-color: $colorBackgraund;
 border-top: 2px solid #D4CBFF;
 .contact {
     display: flex;
     gap: 10px;
 }
 .text__footer {
     @include font-styles(900, 1.3rem);
     color: $colorText;
 }
}
    

             


              
    
          
    
                
  
                
    

      

    










            

       



// TODO! блок ТЕКСТ
.text {
    display: grid;
    grid-template-columns: 941px;
    justify-content: center;
    align-items: center;
    text-align: justify;
    .text_heading {
        @include font-styles(900, 3rem);
        color: #000025;
        line-height: 3.6rem;
    }
    .text_paragraph {
        @include font-styles(400, 1.8rem);
        color: $colorText;
        line-height: 3rem;
    }
}
//TODO!--Блок Button
.button {
    width: 81px;
    height: 28px;
    padding: 8px;
    border: 1px solid #7067CF;
    border-radius: 4px;
    @include font-styles(400, 1.1rem);
    line-height: 0.8rem;
    background-color: $colorBackgraund;
    color: $colorText;
    cursor: pointer;
   
}
.button_color {
    color: white;
    background-color: #7067CF;
   
    &:hover {
        background-color: #8f89ce;
    }
    &:active {
        background-color: #aeabd2;
    }
}
// TODO!--Блок card
.card {
    width: 300px;
    height: 98px;
    position: relative;
    .card__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 20px;
        left: 0;
    }
    .card__text {
        @include font-styles(900, 1.8rem);
        line-height: 1.8rem;
        color: $colorText;
        padding-left: 77px;
    }
    .card__text-small {
        @include font-styles(400, 1.2rem);
        line-height: 2.2rem;
        color: $colorText;
        padding-left: 77px;
        text-align: justify;
    }
}
    

























    



@media (max-width: 830px) {
    .grid-container {
        @include grid-layout(3, 220px, 4, 187px);
        gap: 12px;
      }
      .grid-container-services {
          @include grid-layout(2, 300px, 3, 124px);
      }
      .carouselPictures {
        min-height: 100vh;
      }
      .text {
        grid-template-columns: 681px;
      }
    }

    @media (max-width: 450px) {
      .navigate {
          display: none;
      }
        .grid-container {
            @include grid-layout(2, 161px, 6, 161px);
            gap: 13px;
        }
        .grid-container-services {
          @include grid-layout(1, 300px, 6, 124px);
      }
      .carouselPictures {
          min-height: 70vh;
        }
        .text {
          grid-template-columns: 333px;
        }
        .footer {
            min-height: 80px;
        }
        // TODO! МЕНЮ БУРГЕР
    /*ОТОБРАЖАЕМ МЕНЮ БУРГЕР*/
    .hamburger-menu {
        display: block;
        .logo-mobile {
           @include font-styles(700, 1.7rem);
            margin-left: 50px;
            text-transform: uppercase;
            color: $color;
            position: absolute;
            top: 25px;
            left: 15px;
        }
    }
    .logo_color {
        color: $colorBackgraund;
        position: absolute;
        top: -2px;
    }
    /*СКРЫВАЕМ ЧЕКБОХ*/
.checkbox-toggle {
    opacity: 0;
}
/*СТИЛИ ДЛЯ ГАМБУРГЕР МЕНЮ*/
.menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 25px;
    height: 20px;
    cursor: pointer;
    z-index: 1;
    & > span,
    & > span::before,
    & > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 2.4px;
      background-color: $color;
    }
    & > span::before {
      content: '';
      top: -8px;
    }
    & > span::after {
      content: '';
      top: 8px;
    }
   }
/* стили для меню, по умолчанию оно будет скрыто, открывается после установки галки на чекбоксе */
.menu-container {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 90%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background: #7067CF;
    &__item {
      display: block;
      padding: 27px 35px;
      color: white;
      font-size: 2.4rem;
      font-weight: 700;
      text-decoration: none;
      text-transform: uppercase;
      text-align: start;
   }
}
.menu-container__item_color {
   color: $colorBackgraund;
}
.menu-container__item:hover {
   background-color: #CFD8DC;
}
/* открытие/закрытие меню */
#checkbox-toggle:checked ~ .menu__btn > span {
    transform: rotate(90deg);
 }
 #checkbox-toggle:checked ~ .menu-container {
    visibility: visible;
    left: 0;
 }
 /* анимация для меню */
 .menu__btn > span,
 .menu__btn > span::before,
 .menu__btn > span::after {
    transition-duration: .25s;
 }
 .menu-container {
    transition-duration: .5s;
 }
 .menu-container__item {
    transition-duration: .5s;
 }
    }
    


        
        
        
    































  
  


      






















         
       
   
        
    


 

      

    
  
        
   
    
    