 @import './reset';


 // TODO! Блок Portfolio Grid
 @mixin grid-layout($columns, $column-width, $rows, $row-height) {
    grid-template-columns: repeat($columns, $column-width);
    grid-template-rows: repeat($rows, $row-height);
  }
 .grid-container {
    display: grid;
    @include grid-layout(4, 220px, 3, 187px);
    gap: 20px;
    justify-content: center;
    .grid__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
   
@media (max-width: 767px) {
    .grid-container {
        @include grid-layout(3, 220px, 4, 187px);
        gap: 12px;
      }
    }
    @media (max-width: 375px) {
      .grid-container {
          @include grid-layout(2, 161px, 6, 161px);
          gap: 13px;
      }
    }
 
      
